html {
    font-family: Arial;
    font-size: 16px;
    background-color: black;
}
body {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
header {
    width: 100%;
    height: 700px;
    background-image: url("../sources/images/background_header.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
}
@font-face {
    font-family: OLDENGL;
    src: url(../sources/fonts/OLDENGL.TTF)
}
header h1 {
    display: block;
    font-family: OLDENGL;
    font-size: 100px;
    padding-top: 300px;
    text-align: center;
    color: white;
}

header h1:hover {
    display: block;
    font-family: OLDENGL;
    font-size: 100px;
    padding-top: 300px;
    text-align: center;
    color: whitesmoke;
    text-decoration: line-through;
}
#menu {
	background: #000000;
	color: #FFF;
	height: 49px;
	padding-left: 18px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 49px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 19px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #000000;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 49px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 49px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #000000;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
#latestSongs {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
}
#latestSongs h2{
	color: white;
	font-family: Arial;
	font-size: 32px;
}
#latestSongs h2:hover{
	text-decoration: line-through;
}
.ytvideo {
	height: 720px;
	width: 100%;
}
.bio {
	margin: 30px;
}
.bio img {
	width: 320px;
	float: right;
	margin-right: 150px;
	margin-top: -30px;
	border: 2px solid white;
}
.bio h1 {
	color: white;
	font-family: Arial;
	font-size: 32px;
}
.bio {
	color: white;
	font-family: Arial;
}
#relatedSongs{
	margin: 30px;
}
#relatedSongs h2 {
	color: white;
	font-family: Arial;
	font-size: 32px;
}
#relatedSongs h2:hover {
	text-decoration: line-through;
}
.gridVideo {
	height: 450px;
	width: 33%;
}